<div class="case-dot-list-container">
  <div
  class="case-dot-container"
  *ngFor="let dot of dotList; index as key"
  [ngClass]="{
    'dot-ac': dot.status === 'AC',
    'dot-tle': dot.status === 'TLE',
    'dot-re': dot.status === 'RE',
    'dot-mle': dot.status === 'MLE',
    'dot-ce': dot.status === 'CE',
    'dot-wa': dot.status === 'WA',
    'dot-ing': dot.status === 'ING'
  }"
>
  <div class="key">#{{ key + 1 }}</div>
  <div class="status">
    {{ dot.status }}
  </div>

  <div class="performance-container" *ngIf="dot.status !== 'ING'">
    <div class="performance-time" *ngIf="dot.time_used || dot.status === 'AC'">{{ dot.time_used }}ms</div>
    <div class="performance-space" *ngIf="dot.status !== 'CE' && dot.status !== 'RE'">
      {{ renderMemoryUsed(dot) }}
    </div>
  </div>
</div>
</div>