<mat-list>
  <h3 mat-subheader>比赛列表</h3>
  <mat-list-item *ngFor="let item of itemList">
    <h4 mat-line>
      <a [routerLink]="'/contest/dashboard/' + item.cid" class="contest-title">{{ item.name }}</a>
    </h4>
    <p mat-line class="info-container">
      {{ renderStatus(item.status) }}
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
  <div class="pagination">
    <mat-paginator [length]="totalCount" [pageSize]="20" [hidePageSize]="true" (page)="this.pageChange($event)">
    </mat-paginator>
  </div>
</mat-list>
