<table mat-table [dataSource]="submissionList">
  <ng-container matColumnDef="tid">
    <th mat-header-cell *matHeaderCellDef>题目</th>
    <td mat-cell *matCellDef="let item" [routerLink]="['/submission', 'detail', item.sid]">
      <p class="question-title-cursor">{{ item.question_title }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>状态</th>
    <td
      mat-cell
      *matCellDef="let item"
      class="status_submission"
      [ngClass]="{
        status_submission_ing: item.status === 'ING',
        status_submission_ok: item.status === 'AC',
        status_submission_no: item.status === 'NO'
      }"
    >
      {{ item.status === "NO" ? "Unaccepted" : item.status }}
    </td>
  </ng-container>

  <ng-container matColumnDef="performance">
    <th mat-header-cell *matHeaderCellDef>性能</th>
    <td mat-cell *matCellDef="let item">
      {{ item.language }}, {{ item.time_used }}ms, {{ renderMemoryUsed(item.space_used) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef>时间</th>
    <td mat-cell *matCellDef="let item">
      {{ item.created_at.toLocaleString() }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="pagination">
  <mat-paginator [length]="totalCount" [pageSize]="20" [hidePageSize]="true" (page)="this.handlePageChange($event)">
  </mat-paginator>
</div>
