.input-card {
  @media screen and (min-width: 800px) {
    padding: 48px 20%;
  }

  @media screen and (max-width: 800px) {
    padding: 48px 10%;
  }

  & .full-width {
    width: 100%;
  }

  & .input-title {
    text-align: center;
    user-select: none;
  }
}

.btn-container {
  display: flex;
  justify-content: center;

  & button {
    margin: 12px;
  }
}
