.btn-container {
  display: flex;

  & button {
    margin: 0 12px 0 0;
  }
}
table {
  width: 100%;
}
.ac-block {
  background-color: #beffadc8;
}
.wa-block {
  background-color: #ffa8a8c8;
}
.rank-container {
  font-size: smaller;
  color: gray;
}
.username-item {
  margin: 0;
}
.questions-container {
  margin: 12px 0;
  padding: 12px;
}