.btn-container {
  display: flex;

  & button {
    margin: 0 12px 0 0;
  }
}
table {
  width: 100%;
}
.ac-block {
  background-color: #d3ffc7c8;
}
.ac-nobug-block {
  background-color: #b3f9a2c8;
}
.myself-block {
  background-color: #c0fff6c8;
}
.wa-block {
  background-color: #ffbcbcc8;
}
.rank-container {
  font-size: smaller;
  color: gray;
}
.username-item {
  margin: 0;
}
.questions-container {
  margin: 12px 0;
  padding: 12px;
}
.question-subtitle-tip {
  margin: 0 0 0 1em;
}
.time-container {
  text-align: center;
}
.refresh-time-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}
.status-container {
  margin-top: -24px;
  font-size: smaller;
}
.socket-ok {
  color: rgb(0, 184, 0);
}
.socket-fail {
  color: red;
}
.contest-ok {
  color: orange;
}
.score-board-blocked-notice {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
.send-clarification-form {
  width: 100%;
  min-height: 180px;
  margin: 0;
}
.admin-panel-send-clarification {
  margin: 24px 0 12px 0;
}
.submit-clarification-button-container {
  margin: 6px 0 0 0;
  display: flex;
  justify-content: flex-end;
  & button {
    margin: 0;
  }
}
.clarify-item {
  margin: 12px 0;
}
.submit-btn-container {
  display: flex;
  justify-content: center;
  & > button {
    margin: 0 12px;
  }
}
.edit-container {
  padding: 0 36px;
  display: flex;
  flex-direction: column;
}
.admin-contest-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  margin: 6px 0;
  & > mat-form-field {
    flex-grow: 1;
    margin: 3px;
    min-height: 48px;
  }
  & .delete-contest-question {
    height: 48px;
  }
}