<div class="contest">
  <h1>
    {{ contest.name }}
  </h1>
  <mat-tab-group [dynamicHeight]="true" mat-align-tabs="center">
    <mat-tab label="SCOREBOARD" *ngIf="contest.status > 0">
      <table mat-table [dataSource]="scoreBoardList">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>用户名</th>
          <td mat-cell *matCellDef="let item">
            <p class="rank-container username-item">#{{ item.rank }}</p>
            <p class="username-item">
              <span *ngIf="item.rank === 1">🥇</span>
              <span *ngIf="item.rank === 2">🥈</span>
              <span *ngIf="item.rank === 3">🥉</span>
              {{ item.username }}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef>分数</th>
          <td mat-cell *matCellDef="let item">{{ item.score }} <br />{{ renderTime(item.total_time) }}</td>
        </ng-container>

        <ng-container *ngFor="let col of scoreBoardExtraColumns; let i = index" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef class="time-container">{{ col }}</th>
          <td
            mat-cell
            *matCellDef="let item"
            [ngClass]="{
              'ac-block': item.progress[i].status === 1,
              'wa-block': item.progress[i].status === 0 && item.progress[i].bug !== 0
            }"
            class="time-container"
          >
            <div *ngIf="item.progress[i].status === 1">{{ renderTime(item.progress[i].total_time) }}</div>
            <div *ngIf="item.progress[i].bug !== 0">🐛{{ item.progress[i].bug }}</div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="scoreBoardDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: scoreBoardDisplayedColumns"></tr>
      </table>

      <div class="pagination">
        <mat-paginator
          [length]="scoreBoardCount"
          [pageSize]="20"
          [hidePageSize]="true"
          (page)="this.handlePageChange($event)"
        >
        </mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="QUESTIONS" *ngIf="contest.status > 0">
      <div class="questions-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of contestQuestions; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title> [T{{ (i + 1).toString() }}] {{ item.subject }} </mat-panel-title>
              <mat-panel-description>
                🌟 {{ item.score }}
                <span *ngIf="myInfo && myInfo.progress[i] && myInfo.progress[i].bug > 0" class="question-subtitle-tip"
                  >🐛 {{ myInfo.progress[i].bug }}</span
                >
                <span
                  *ngIf="myInfo && myInfo.progress[i] && myInfo.progress[i].status === 1"
                  class="question-subtitle-tip"
                  >✅ {{ renderTime(myInfo.progress[i].total_time) }}</span
                >
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-description [isContest]="true" [question]="item"></app-description>
              <h3>提交代码</h3>
              <app-submit-code (submit)="this.handleSubmit(item.tid)($event)"></app-submit-code>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>

    <mat-tab label="SUBMISSIONS">
      <div class="questions-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of submissionList" (opened)="handleOpenSubmissionPanel(item.sid)">
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="questionMap.get(item.tid)">
                [T{{ questionMap.get(item.tid).id + 1 }}] {{ questionMap.get(item.tid).subject }}</mat-panel-title
              >
              <mat-panel-description>
                <span *ngIf="item.status === 1" class="question-subtitle-tip"
                  >✅ {{ renderTime(item.total_time) }}</span
                >
                <span *ngIf="item.status === -1" class="question-subtitle-tip"
                  >🐛 {{ renderTime(item.total_time) }}</span
                >
                <span *ngIf="item.status === 0" class="question-subtitle-tip"
                  >⌛️ {{ renderTime(item.total_time) }}</span
                >
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-case-dot
                *ngIf="this.submissionInfo.has(item.sid)"
                [dotList]="this.submissionInfo.get(item.sid).judge"
              ></app-case-dot>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>

    <mat-tab label="CLARIFICATIONS" *ngIf="clarifyList.length">
      <div class="questions-container">
        <mat-card *ngFor="let item of clarifyList">
          <mat-card-title>{{ item.message }}</mat-card-title>
          <mat-card-content>{{ item.created_at }}</mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="INFORMATION">
      <div class="operation-container" *ngIf="contest.status === 0">
        <h3>比赛操作</h3>
        <div class="btn-container">
          <button mat-raised-button id="register" color="primary" (click)="handleRegister('reg')">报名比赛</button>
          <button mat-raised-button id="unregister" color="accent" (click)="handleRegister('cancel')">退出比赛</button>
        </div>
      </div>
      <div class="my-info-container" *ngIf="contest.status > 0">
        <h3>我的信息</h3>
        <div>得分：{{ myInfo.score }}</div>
        <div>用时：{{ renderTime(myInfo.total_time) }}</div>
        <div>排名：{{ myInfo.rank }}</div>
      </div>
      <div class="contest-info-container">
        <h3>比赛信息</h3>
        <div>开始时间：{{ contest.start_time }}</div>
        <div>封榜时间：{{ contest.block_time }}</div>
        <div>结束时间：{{ contest.end_time }}</div>
        <div>罚时时间：{{ renderTime(contest.penalty) }}</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
