.btn-container {
  display: flex;

  & button {
    margin: 0 12px 0 0;
  }
}
table {
  width: 100%;
}
.ac-block {
  background-color: #beffadc8;
}
.myself-block {
  background-color: #c0fff6c8;
}
.wa-block {
  background-color: #ffa8a8c8;
}
.rank-container {
  font-size: smaller;
  color: gray;
}
.username-item {
  margin: 0;
}
.questions-container {
  margin: 12px 0;
  padding: 12px;
}
.question-subtitle-tip {
  margin: 0 0 0 1em;
}
.time-container {
  text-align: center;
}
.refresh-time-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}
.status-container {
  margin-top: -24px;
  font-size: smaller;
}
.socket-ok {
  color: rgb(0, 184, 0);
}
.socket-fail {
  color: red;
}
.contest-ok {
  color: orange;
}
.score-board-blocked-notice {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
