<div class="contest">
  <h1>
    {{ contest.name }}
  </h1>
  <mat-tab-group [dynamicHeight]="true" mat-align-tabs="center">
    <mat-tab label="排行榜" *ngIf="contest.status > 0">
      <table mat-table [dataSource]="scoreBoardList">
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef>排名</th>
          <td mat-cell *matCellDef="let item" [routerLink]="['/submission', 'detail', item.sid]">
            <p class="question-title-cursor">{{ item.question_title }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>用户名</th>
          <td mat-cell *matCellDef="let item">
            {{ item.status === "NO" ? "Unaccepted" : item.status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef>分数</th>
          <td mat-cell *matCellDef="let item">{{ item.language }}, {{ item.time_used }}ms</td>
        </ng-container>

        <ng-container *ngFor="let col of scoreBoardExtraColumns" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
          <td mat-cell *matCellDef="let item">ms</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="scoreBoardDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: scoreBoardDisplayedColumns"></tr>
      </table>

      <div class="pagination">
        <mat-paginator
          [length]="scoreBoardCount"
          [pageSize]="20"
          [hidePageSize]="true"
          (page)="this.handlePageChange($event)"
        >
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="题目" *ngIf="contest.status > 0"> </mat-tab>
    <mat-tab label="信息">
      <div class="clarify-container" *ngIf="clarifyList.length">
        <h3>Clarify</h3>
      </div>
      <div class="operation-container" *ngIf="contest.status === 0">
        <h3>比赛操作</h3>
        <div class="btn-container">
          <button mat-raised-button id="register" color="primary" (click)="handleRegister('reg')">报名比赛</button>
          <button mat-raised-button id="unregister" color="accent" (click)="handleRegister('cancel')">退出比赛</button>
        </div>
      </div>
      <div class="my-info-container" *ngIf="contest.status > 0">
        <h3>我的信息</h3>
        <div>得分：{{ myInfo.score }}</div>
        <div>用时：{{ myInfo.completeTime }}</div>
        <div>排名：{{ myInfo.rank }}</div>
      </div>
      <div class="contest-info-container">
        <h3>比赛信息</h3>
        <div>开始时间：{{ contest.startTime }}</div>
        <div>封榜时间：{{ contest.blockTime }}</div>
        <div>结束时间：{{ contest.endTime }}</div>
        <div>罚时时间：{{ (contest.penalty / 60).toFixed(2) }}分钟</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
