<header>
  <mat-toolbar color="primary" class="nav-bar">
    <button mat-button routerLink="/list/1" class="oj-pc">Rabbit Online Judge Dashboard</button>
    <button mat-button routerLink="/list/1" class="oj-mobile">Rabbit OJ</button>
    <button mat-button routerLink="/list/1">题库</button>
    <button mat-button routerLink="/submission/1">提交记录</button>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="progressShow"></mat-progress-bar>
</header>
<div class="reserve-space"></div>
<div class="content">
  <router-outlet></router-outlet>
</div>
