<header>
  <mat-toolbar color="primary" class="nav-bar">
    <div class="nav-left-container">
      <button mat-button routerLink="/list/1" class="oj-pc">Rabbit Online Judge</button>
      <button mat-button routerLink="/list/1" class="oj-mobile">Rabbit OJ</button>
      <button mat-button routerLink="/list/1">题库</button>
      <button mat-button routerLink="/contest/list/1">比赛</button>
    </div>

    <div class="nav-right-container">
      <button mat-button routerLink="/user/login" *ngIf="!authService.currentUser.isLogin">登录</button>

      <button mat-button *ngIf="authService.currentUser.isLogin" [matMenuTriggerFor]="menu">
        {{ authService.currentUser.username }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleSubmissionList()">提交记录</button>
        <button mat-menu-item (click)="handleLogout()">注销账号</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="progressShow"></mat-progress-bar>
</header>
<div class="reserve-space"></div>
<div class="content">
  <router-outlet></router-outlet>
</div>
