<mat-list>
  <h3 mat-subheader>题库</h3>
  <mat-list-item *ngFor="let item of itemList">
    <mat-chip-list>
      <mat-chip *ngIf="item.difficulty === 1" color="primary" selected>Easy</mat-chip>
      <mat-chip *ngIf="item.difficulty === 2" color="accent" selected>Medium</mat-chip>
      <mat-chip *ngIf="item.difficulty === 3" color="warn" selected>Hard</mat-chip>
    </mat-chip-list>
    <h4 mat-line>
      <a [routerLink]="'/info/' + item.id" class="question-title">{{ item.name }}</a>
    </h4>
    <p mat-line class="info-container">
      {{ item.acCount }} / {{ item.attemptCount }}, {{ ((item.acCount / item.attemptCount) * 100.0).toFixed(2) }}%
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
