<div class="detail">
  <h1>
    {{ question.subject }}
  </h1>
  <mat-tab-group [dynamicHeight]="true" mat-align-tabs="center">
    <mat-tab label="题目描述">
      <h3>题目描述</h3>
      <div class="description" id="description">
        <ng-katex-html [html]="renderedHTML"></ng-katex-html>
      </div>
      <h3>测试样例</h3>
      <div class="sample" *ngFor="let _sample of question.sample">
        <div class="in">
          {{_sample.in}}
        </div>
        <div class="out">
          {{_sample.out}}
        </div>
      </div>
      <h3>题目统计</h3>
      <div>
        <div>提交：{{ question.attempt }}</div>
        <div>通过：{{ question.accept }} ({{ ((question.accept / (question.attempt === 0 ? 1 : 0)) * 100.0).toFixed(2) }}%)</div>
      </div>
      <h3>题目限制</h3>
      <div>时间：{{ question.time_limit }}ms</div>
      <div>空间：{{ question.space_limit.toFixed(2) }}MB</div>
      <h3>更新时间</h3>
      <div>{{ question.created_at }}</div>
      <h3>题目难度</h3>
      <mat-chip-list>
        <mat-chip *ngIf="question.difficulty === 1" color="primary" selected>Easy</mat-chip>
        <mat-chip *ngIf="question.difficulty === 2" color="accent" selected>Medium</mat-chip>
        <mat-chip *ngIf="question.difficulty === 3" color="warn" selected>Hard</mat-chip>
      </mat-chip-list>
    </mat-tab>

    <mat-tab label="提交代码">
      <div class="submit-container">
        <mat-form-field>
          <mat-select placeholder="Language" [(ngModel)]="language">
            <mat-option *ngFor="let language of languageService.data" [value]="language.value">{{
              language.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="code-submit-field">
          <mat-label>Codes</mat-label>
          <textarea matInput placeholder="Paste your codes here" class="code-submit" [(ngModel)]="code"></textarea>
        </mat-form-field>
        <button mat-raised-button id="login" color="primary" (click)="handleSubmit()">提交测评</button>
      </div>
    </mat-tab>

    <mat-tab label="提交记录">
      <app-submission-list
        [totalCount]="totalCount"
        [submissionList]="submissionList"
        (pageChange)="this.pageChange($event)"
      ></app-submission-list>
    </mat-tab>
  </mat-tab-group>
</div>
