<div class="detail">
  <h1>
    {{ question.subject }}
  </h1>
  <mat-tab-group
    [dynamicHeight]="true"
    mat-align-tabs="center"
    (selectedTabChange)="this.handleSelectedTabChange($event)"
  >
    <mat-tab label="题目描述">
      <app-description [question]="question" [isContest]="false"></app-description>
    </mat-tab>

    <mat-tab label="提交代码">
      <div class="submit-container">
        <app-submit-code (submit)="this.handleSubmit($event)"></app-submit-code>
      </div>
    </mat-tab>

    <mat-tab label="提交记录">
      <app-submission-list
        [totalCount]="totalCount"
        [submissionList]="submissionList"
        (pageChange)="this.pageChange($event)"
      ></app-submission-list>
    </mat-tab>
  </mat-tab-group>
</div>
