<div class="submission-detail-container">
  <h1>测评详情 - {{ item.question_title }}</h1>
  <mat-tab-group [dynamicHeight]="true" mat-align-tabs="center">
    <mat-tab label="测评信息">
      <h3>基本信息</h3>
      <p>
        题目：<a [routerLink]="'/info/' + item.tid" class="question-title">{{ item.question_title }}</a>
      </p>
      <p>
        状态：<span
          class="status_submission"
          [ngClass]="{
            status_submission_ing: item.status === 'ING',
            status_submission_ok: item.status === 'AC',
            status_submission_no: item.status === 'NO'
          }"
          >{{ item.status }}</span
        >
      </p>
      <p>语言：{{ item.language }}</p>
      <p>空间使用：{{ item.space_used }}</p>
      <p>时间使用：{{ item.time_used }}ms</p>
      <p>提交时间：{{ item.created_at.toLocaleString() }}</p>
      <h3>测试点信息</h3>
        <app-case-dot [dotList]="item.judge"></app-case-dot>
    </mat-tab>

    <mat-tab label="代码下载">
      <div class="download-container">
        <button mat-raised-button class="download-btn" color="primary" (click)="handleDownload()">代码下载</button>
      </div>
      <div class="code-container">
        <mat-form-field appearance="outline" class="code-download-field">
          <textarea placeholder="Code" matInput readonly class="code-download" [value]="code"></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
