.case-dot-list-container {
  display: flex;
  flex-flow: row wrap;
}
.download-container {
  display: flex;
  justify-content: center;
  .download-btn {
    margin: 12px;
  }
}
.status_submission {
  font-weight: 700;
}
.status_submission_ing {
  color: black;
}
.status_submission_ok {
  color: greenyellow;
}
.status_submission_no {
  color: red;
}